name: Run Tests

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: windows-latest

    env:
      USER_DB: test_user
      PASSWORD: test_pass
      HOST: localhost
      PORT: 5432
      DATABASE: test_db

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Installer PostgreSQL
        run: |
          sudo apt-get update
          sudo apt-get install postgresql postgresql-contrib -y
          sudo service postgresql start

          # Création de l'utilisateur et de la base de test
          sudo -u postgres psql -c "CREATE USER $USER_DB WITH PASSWORD '$PASSWORD';"
          sudo -u postgres psql -c "CREATE DATABASE $DATABASE OWNER $USER_DB;"

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Exécuter les tests
        run: |
          pytest
